<style type="text/css" media="screen">
.gr_grid_container {
/* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
/* customize book cover container div here */
float: left;
width: 39px;
height: 60px;
padding: 0px 0px;
overflow: hidden;
}
</style>
<div id="gr_grid_widget_1452062760">
<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="2001: A Space Odyssey (Space Odyssey, #1)" href="https://www.goodreads.com/book/show/70535.2001"><img alt="2001: A Space Odyssey" border="0" src="https://d.gr-assets.com/books/1432468943s/70535.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Giver (The Giver, #1)" href="https://www.goodreads.com/book/show/3636.The_Giver"><img alt="The Giver" border="0" src="https://d.gr-assets.com/books/1342493368s/3636.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Understanding Comics: The Invisible Art" href="https://www.goodreads.com/book/show/102920.Understanding_Comics"><img alt="Understanding Comics: The Invisible Art" border="0" src="https://d.gr-assets.com/books/1328408101s/102920.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Waking Up: A Guide to Spirituality Without Religion" href="https://www.goodreads.com/book/show/18774981-waking-up"><img alt="Waking Up: A Guide to Spirituality Without Religion" border="0" src="https://d.gr-assets.com/books/1415677308s/18774981.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)" href="https://www.goodreads.com/book/show/11.The_Hitchhiker_s_Guide_to_the_Galaxy"><img alt="The Hitchhiker's Guide to the Galaxy" border="0" src="https://d.gr-assets.com/books/1327656754s/11.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Restaurant at the End of the Universe (Hitchhiker's Guide, #2)" href="https://www.goodreads.com/book/show/8695.The_Restaurant_at_the_End_of_the_Universe"><img alt="The Restaurant at the End of the Universe" border="0" src="https://d.gr-assets.com/books/1390234660s/8695.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Radical State: How Jihad Is Winning Over Democracy in the West" href="https://www.goodreads.com/book/show/9185555-radical-state"><img alt="Radical State: How Jihad Is Winning Over Democracy in the West" border="0" src="https://d.gr-assets.com/books/1327993058s/9185555.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Life, the Universe and Everything (Hitchhiker's Guide, #3)" href="https://www.goodreads.com/book/show/8694.Life_the_Universe_and_Everything"><img alt="Life, the Universe and Everything" border="0" src="https://d.gr-assets.com/books/1333577589s/8694.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="White Like Me: Reflections on Race from a Privileged Son" href="https://www.goodreads.com/book/show/88362.White_Like_Me"><img alt="White Like Me: Reflections on Race from a Privileged Son" border="0" src="https://d.gr-assets.com/books/1328690631s/88362.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Ending the War on Drugs: A Solution for America" href="https://www.goodreads.com/book/show/843306.Ending_the_War_on_Drugs"><img alt="Ending the War on Drugs: A Solution for America" border="0" src="https://d.gr-assets.com/books/1178833373s/843306.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Touching a Nerve: Our Brains, Our Selves" href="https://www.goodreads.com/book/show/18378029-touching-a-nerve"><img alt="Touching a Nerve: Our Brains, Our Selves" border="0" src="https://d.gr-assets.com/books/1396831981s/18378029.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="V for Vendetta" href="https://www.goodreads.com/book/show/5805.V_for_Vendetta"><img alt="V for Vendetta" border="0" src="https://d.gr-assets.com/books/1343668985s/5805.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Selfish Gene" href="https://www.goodreads.com/book/show/61535.The_Selfish_Gene"><img alt="The Selfish Gene" border="0" src="https://d.gr-assets.com/books/1366758096s/61535.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Guns, Germs, and Steel : The Fates of Human Societies" href="https://www.goodreads.com/book/show/1842.Guns_Germs_and_Steel_"><img alt="Guns, Germs, and Steel : The Fates of Human Societies" border="0" src="https://d.gr-assets.com/books/1363934734s/1842.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Watchmen" href="https://www.goodreads.com/book/show/472331.Watchmen"><img alt="Watchmen" border="0" src="https://d.gr-assets.com/books/1442239711s/472331.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="What I Talk About When I Talk About Running" href="https://www.goodreads.com/book/show/2195464.What_I_Talk_About_When_I_Talk_About_Running"><img alt="What I Talk About When I Talk About Running" border="0" src="https://d.gr-assets.com/books/1388187962s/2195464.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Sub-Human (Post-Human, #1)" href="https://www.goodreads.com/book/show/15830541-sub-human"><img alt="Sub-Human" border="0" src="https://d.gr-assets.com/books/1417815598s/15830541.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="On Writing: A Memoir of the Craft" href="https://www.goodreads.com/book/show/10569.On_Writing"><img alt="On Writing: A Memoir of the Craft" border="0" src="https://d.gr-assets.com/books/1436735207s/10569.jpg" /></a></div>
<br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" href="https://www.goodreads.com/user/show/3475851-zerotimer">rdbcasillas's favorite books »</a>
<noscript><br/>Share <a href="/">book reviews</a> and ratings with zerotimer, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
</div>

</div>

