<style type="text/css" media="screen">
.gr_custom_container_1452001530 {
/* customize your Goodreads widget container here*/
border: 1px solid gray;
border-radius:10px;
padding: 10px 5px 10px 5px;
background-color: #FFFFFF;
color: #000000;

}
.gr_custom_header_1452001530 {
/* customize your Goodreads header here*/
border-bottom: 1px solid gray;
width: 100%;
margin-bottom: 5px;
text-align: center;
font-size: 120%
}
.gr_custom_each_container_1452001530 {
/* customize each individual book container here */
width: 100%;
clear: both;
margin-bottom: 10px;
overflow: auto;
padding-bottom: 4px;
border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1452001530 {
/* customize your book covers here */
overflow: hidden;
height: 160px;
  float: left;
  margin-right: 4px;
  width: 98px;
}
.gr_custom_author_1452001530 {
/* customize your author names here */
font-size: 10px;
}
.gr_custom_tags_1452001530 {
/* customize your tags here */
font-size: 10px;
color: gray;
}
.gr_custom_rating_1452001530 {
/* customize your rating stars here */
float: right;
}
</style>

<div id="gr_custom_widget_1452001530">
<div class="gr_custom_container_1452001530">
<div class="gr_custom_each_container_1452001530">
<div class="gr_custom_book_container_1452001530">
<a title="Consider Phlebas (Culture, #1)" href="https://www.goodreads.com/review/show/1463825037?utm_medium=api&amp;utm_source=custom_widget"><img alt="Consider Phlebas" border="0" src="https://d.gr-assets.com/books/1327951890m/8935689.jpg" /></a>
</div>
<div class="gr_custom_rating_1452001530">
<span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
</div>
<div class="gr_custom_title_1452001530">
  <a href="https://www.goodreads.com/review/show/1463825037?utm_medium=api&amp;utm_source=custom_widget">Consider Phlebas</a>
</div>
<div class="gr_custom_author_1452001530">
  by <a href="https://www.goodreads.com/author/show/5807106.Iain_M_Banks">Iain M. Banks</a>
</div>
</div>
<div class="gr_custom_each_container_1452001530">
<div class="gr_custom_book_container_1452001530">
<a title="Endless Forms Most Beautiful: The New Science of Evo Devo and the Making of the Animal Kingdom" href="https://www.goodreads.com/review/show/1496277968?utm_medium=api&amp;utm_source=custom_widget"><img alt="Endless Forms Most Beautiful: The New Science of Evo Devo and the Making of the Animal Kingdom" border="0" src="https://d.gr-assets.com/books/1348745093m/39096.jpg" /></a>
</div>
<div class="gr_custom_rating_1452001530">
 <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
 </div>
 <div class="gr_custom_title_1452001530">
 <a href="https://www.goodreads.com/review/show/1496277968?utm_medium=api&amp;utm_source=custom_widget">Endless Forms Most Beautiful: The New Science of Evo Devo and the Making of the Animal Kingdom</a>
 </div>
 <div class="gr_custom_author_1452001530">
by <a href="https://www.goodreads.com/author/show/22043.Sean_B_Carroll">Sean B. Carroll</a>
</div>
</div>
<div class="gr_custom_each_container_1452001530">
<div class="gr_custom_book_container_1452001530">
<a title="Peopleware: Productive Projects and Teams" href="https://www.goodreads.com/review/show/1496278258?utm_medium=api&amp;utm_source=custom_widget"><img alt="Peopleware: Productive Projects and Teams" border="0" src="https://d.gr-assets.com/books/1386925395m/67825.jpg" /></a>
</div>
<div class="gr_custom_rating_1452001530">
<span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
</div>
<div class="gr_custom_title_1452001530">
<a href="https://www.goodreads.com/review/show/1496278258?utm_medium=api&amp;utm_source=custom_widget">Peopleware: Productive Projects and Teams</a>
</div>
<div class="gr_custom_author_1452001530">
by <a href="https://www.goodreads.com/author/show/38238.Tom_DeMarco">Tom DeMarco</a>
</div>
</div>
</div>
</div>
<script src="https://www.goodreads.com/review/custom_widget/3475851.rdbcasillas's%20bookshelf:%20currently-reading?cover_position=left&cover_size=medium&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1452001530&widget_text_color=000000&widget_title_size=medium&widget_width=full" type="text/javascript" charset="utf-8"></script>